.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 19px 0;
  background: rgba(255, 255, 255, 0.45);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    // color: var(--color-dark);
    color: var(--color-light-1);

    border-radius: 24px;
    padding: 9px 25px;
    background: var(--color-main-2);

    transition: transform .3s;

    @include small-tablet {
      display: none;
      width: 0;
    }
  }

  &__button:hover {
    transform: scale(1.1);
  }
}