.logo {
  padding: 11px 24px 4px;
  font-family: var(--third-family);
  line-height: normal;
  font-weight: 400;
  font-size: 30px;
  color: var(--color-dark);

  border-radius: 28px;
  background-color: var(--color-main-2);

  transition: transform .3s;

  &:hover {
    transform: scale(1.1);
  }
}