.price {
  background: linear-gradient(360deg, rgba(252, 151, 115, 0.2) 0%, rgba(250, 244, 233, 0.2) 100%);

  &__inner {
    padding: 35px 0 100px;
    background: url('../img/price/price-bg.png') center/cover no-repeat;
  }

  &__old {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    opacity: 0.5;

    @include mobile {
      font-size: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 406px;
      height: 4px;
      background-color: var(--color-main-4);
      border-radius: 10px;
      transform: translate(-50%, -50%) rotate(5deg);

      @include mobile {
        width: 300px;
      }
    }
  }

  &__text {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 44px;
    text-align: center;

    @include mobile {
      font-size: 30px;
    }
  }

  &__cost {
    margin: 0 auto 30px;
    padding: 20px;
    font-weight: 500;
    font-size: 114px;
    text-align: center;
    color: var(--color-main-3);

    max-width: 548px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.7);

    @include mobile {
      font-size: 60px;
    }
  }

  &__present-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin-bottom: 120px;

    @include mobile {
      margin-bottom: 60px;
    }
  }

  &__present-text {
    font-weight: 400;
    font-size: 23px;
    text-align: center;
  }

  &__button {
    display: block;
    margin: 0 auto 60px;
    padding: 30px 60px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-light-1);

    border-radius: 32px;
    background-color: var(--color-main-3);

    transition: transform .3s;

    @include mobile {
      font-size: 20px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__subtext {
    font-weight: 400;
    font-size: 30px;
    text-align: center;

    @include mobile {
      font-size: 20px;
    }
  }
}