<section class="course offsets">
  <div class="section-titles">
    <h4 class="section-name" id="course">
      Курс
    </h4>

    <h5 class="section-title">
      Как проходит обучение
    </h5>
  </div>

  <div class="container">
    <div class="course__inner">
      <p class="course__description">
        Курс включает в себя 10 занятий. Все занятия проводятся индивидуально. Обучение проходит в онлайн-формате.
        Составим график удобный для вас. Вы изучите теорию и будете применять её на практике с первого занятия. За успешное прохождение каждого урока
        выставляются баллы, которые вы можете обменять на деньги в конце курса.
      </p>

      <div class="swiper course__swiper">
        <div class="swiper-wrapper course__wrapper">
          <div class="swiper-slide course__item">
            <div class="course__icon">

              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 1: Знакомство с профессией
            </h6>

            <p class="course__text">
              📌 Что делает SMM-специалист <br>
              📌 Как стать маркетологом <br>
              📌 Как понять аудиторию <br>
              📌 Тест <br>
              📌 Домашнее задание
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">

              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-1" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 2: Создание УТП и ОФФЕРОВ.
            </h6>

            <p class="course__text">
              📌 Что такое УТП и ОФФЕРЫ <br>
              📌 Формулы для создания УТП <br>
              📌 Структура рабочего ОФФЕРА <br>
              📌 Тест <br>
              📌 Домашнее задание
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">
              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-2" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 3: Стратегии и контент план
            </h6>

            <p class="course__text">
              📌 Разработаем стратегию продвижения <br>
              📌 Проанализируем клиента <br>
              📌 Составим контент-план <br>
              📌 Тест <br>
              📌 Домашнее задание
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">
              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-4" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 4: Instagram как рабочий инструмент
            </h6>

            <p class="course__text">
              📌 Instagram в 2025 году <br>
              📌 Как не тартить время и деньги <br>
              📌 Оформляем профиль <br>
              📌 Напишем продающие тексты <br>
              📌 Тест <br>
              📌 Домашнее задание
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">
              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-5" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 5: Организация съемки
            </h6>

            <p class="course__text">
              📌 Как организовать съёмку <br>
              📌 Разбор приложений для работы <br>
              📌 Денежный тест <br>
              📌 Домашнее задание
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">
              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-6" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 6: Профессия таргетолог
            </h6>

            <p class="course__text">
              📌 Кто такой таргетолог <br>
              📌 Основы запуска таргетированной рекламы <br>
              📌 Приемы захвата внимания <br>
              📌 Тест <br>
              📌 Домашнее задание
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">
              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-7" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 7: Подготовка к работе с рекламой
            </h6>

            <p class="course__text">
              📌 Подготовим рабочий аккаунт Facebook <br>
              📌 Настраим двухфакторную защиту <br>
              📌 Что делать при блокировке в Facebook <br>
              📌 Тест <br>
              📌 Домашнее задание
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">
              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-8" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 8: Запуск рекламы, тестирование, бюджет
            </h6>

            <p class="course__text">
              📌 Выбор целей рекламной кампании <br>
              📌 Как именно Facebook проводит тест <br>
              📌 Способы тестирования в Facebook <br>
              📌 Что такое Бюджет компании <br>
              📌 Тест <br>
              📌 Домашнее задание
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">
              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-9" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 9: Оптимизация рекламы
            </h6>

            <p class="course__text">
              📌 Откорректируем рекламу <br>
              📌 Разберём Pixel Facebook <br>
              📌 Изучим метрику <br>
              📌 Тест <br>
              📌 Домашнее задание <br>
            </p>

          </div>
          <div class="swiper-slide course__item">
            <div class="course__icon">
              <svg class="course__svg">
                <use xlink:href="img/sprite.svg#course-icon-10" fill="#D09602"></use>
              </svg>
            </div>

            <h6 class="course__topic">
              День 10. Виды блокировок и налоги
            </h6>

            <p class="course__text">
              📌 Разберём модерацию на Facebook <br>
              📌 Как не попасть под блокировки <br>
              📌 Разберём налоговую систему Meta <br>
              📌 Тест <br>
              📌 Подведение итогов
            </p>

          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>