<section class="course offsets">
  <div class="section-titles">
    <h4 class="section-name">
      Курс
    </h4>

    <h5 class="section-title">
      Как проходит обучение
    </h5>
  </div>

  <div class="container">
    <div class="course__inner">
      <p class="course__description">
        Курс включает в себя 10 занятий. Все занятия проводятся индивидуально. Обучение проходит в онлайн-формате.
        Составим график удобный для вас. Вы создадите проекты для портфолио. За успешное прохождение каждого урока
        выставляются баллы, которые вы можете обменять на деньги в конце курса.
      </p>

      <div class="swiper course__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="course__item">
              <div class="course__icon">
                <img loading="lazy" src="img/course/course-icon.svg" class="image " width="67" height="63"
                  alt="Иконка курса">
              </div>

              <h6 class="course__topic">
                День 1 Тема такая-то
              </h6>

              <p class="course__text">
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              </p>

              <p class="course__note">
                Длительность 1 день
              </p>
            </div>

          </div>
          <div class="swiper-slide">
            <div class="course__item">
              <div class="course__icon">
                <img loading="lazy" src="img/course/course-icon.svg" class="image " width="67" height="63"
                  alt="Иконка курса">
              </div>

              <h6 class="course__topic">
                День 1 Тема такая-то
              </h6>

              <p class="course__text">
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              </p>

              <p class="course__note">
                Длительность 1 день
              </p>
            </div>

          </div>
          <div class="swiper-slide">
            <div class="course__item">
              <div class="course__icon">
                <img loading="lazy" src="img/course/course-icon.svg" class="image " width="67" height="63"
                  alt="Иконка курса">
              </div>

              <h6 class="course__topic">
                День 1 Тема такая-то
              </h6>

              <p class="course__text">
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              </p>

              <p class="course__note">
                Длительность 1 день
              </p>
            </div>

          </div>
          <div class="swiper-slide">
            <div class="course__item">
              <div class="course__icon">
                <img loading="lazy" src="img/course/course-icon.svg" class="image " width="67" height="63"
                  alt="Иконка курса">
              </div>

              <h6 class="course__topic">
                День 1 Тема такая-то
              </h6>

              <p class="course__text">
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              </p>

              <p class="course__note">
                Длительность 1 день
              </p>
            </div>

          </div>
          <div class="swiper-slide">
            <div class="course__item">
              <div class="course__icon">
                <img loading="lazy" src="img/course/course-icon.svg" class="image " width="67" height="63"
                  alt="Иконка курса">
              </div>

              <h6 class="course__topic">
                День 1 Тема такая-то
              </h6>

              <p class="course__text">
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              </p>

              <p class="course__note">
                Длительность 1 день
              </p>
            </div>

          </div>
          <div class="swiper-slide">
            <div class="course__item">
              <div class="course__icon">
                <img loading="lazy" src="img/course/course-icon.svg" class="image " width="67" height="63"
                  alt="Иконка курса">
              </div>

              <h6 class="course__topic">
                День 1 Тема такая-то
              </h6>

              <p class="course__text">
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              </p>

              <p class="course__note">
                Длительность 1 день
              </p>
            </div>

          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>