<section class="feedback offsets">
  <div class="section-titles">
    <h4 class="section-name" id="feedback">
      Отзывы
    </h4>

    <h5 class="section-title">
      Что говорят о курсе ученики
    </h5>
  </div>

  <div class="container">
    <div class="feedback__inner">
      <!-- <div class="swiper feedback__swiper"> -->
        <!-- <div class="swiper-wrapper feedback-wrapper"> -->
        <div class="feedback-wrapper">
          <div class="swiper-slide feedback__item">

            <video class="feedback__video" src="img/feedback/videos/feedback_video-1.mp4" type="video/mp4" width="100%"
              poster="img/feedback/posters/feedback_poster-1.jpeg"></video>

            <button class="feedback__button btn-reset" title="Play">
              <svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="48.5" cy="48.5" r="48.5" fill="white" />
                <circle cx="48.5" cy="48.5" r="39.5" fill="#987abf" />
                <path
                  d="M72 45.0359C74.6667 46.5755 74.6667 50.4245 72 51.9641L39.75 70.5836C37.0833 72.1232 33.75 70.1987 33.75 67.1195L33.75 29.8805C33.75 26.8013 37.0833 24.8768 39.75 26.4164L72 45.0359Z"
                  fill="white" />
              </svg>
            </button>

            <div class="feedback__texts">
              <p class="feedback__name">
                Томирис
              </p>

              <p class="feedback__text">
                Оценила курс:
              </p>

              <div class="feedback__rate">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
              </div>
            </div>


          </div>

          <!-- <div class="swiper-slide feedback__item">

            <video class="feedback__video" src="resources/videos/feedback.mp4" type="video/mp4" width="100%"
              poster="img/feedback/posters/girl-poster.jpg"></video>

            <button class="feedback__button btn-reset" title="Play">
              <svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="48.5" cy="48.5" r="48.5" fill="white" />
                <circle cx="48.5" cy="48.5" r="39.5" fill="#987abf" />
                <path
                  d="M72 45.0359C74.6667 46.5755 74.6667 50.4245 72 51.9641L39.75 70.5836C37.0833 72.1232 33.75 70.1987 33.75 67.1195L33.75 29.8805C33.75 26.8013 37.0833 24.8768 39.75 26.4164L72 45.0359Z"
                  fill="white" />
              </svg>
            </button>

            <div class="feedback__texts">
              <p class="feedback__name">
                Карина
              </p>

              <p class="feedback__text">
                Оценила курс:
              </p>

              <div class="feedback__rate">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
              </div>
            </div>


          </div>

          <div class="swiper-slide feedback__item">

            <video class="feedback__video" src="img/feedback/videos/feedback.mp4" type="video/mp4" width="100%"
              poster="img/feedback/posters/girl-poster.jpg"></video>

            <button class="feedback__button btn-reset" title="Play">
              <svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="48.5" cy="48.5" r="48.5" fill="white" />
                <circle cx="48.5" cy="48.5" r="39.5" fill="#987abf" />
                <path
                  d="M72 45.0359C74.6667 46.5755 74.6667 50.4245 72 51.9641L39.75 70.5836C37.0833 72.1232 33.75 70.1987 33.75 67.1195L33.75 29.8805C33.75 26.8013 37.0833 24.8768 39.75 26.4164L72 45.0359Z"
                  fill="white" />
              </svg>
            </button>

            <div class="feedback__texts">
              <p class="feedback__name">
                Карина
              </p>

              <p class="feedback__text">
                Оценила курс:
              </p>

              <div class="feedback__rate">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
                <img loading="lazy" src="img/feedback/icons/star.svg" class="image" width="20" height="20" alt="Star">
              </div>
            </div>


          </div> -->
        </div>
          
        <!-- </div> -->

        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>
  </div>
</section>