<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <h3 class="footer__title">
        Связаться с нами
      </h3>

      <p class="footer__text">
        Напишите свои вопросы нам на почту
      </p>

      <div class="footer__box">
        <img loading="lazy" src="/img/footer/mail-icon.svg" class="image" width="24" height="19" alt="Mail icon">

        <a href="" class="footer__text">
          stmcare@gmail.com
        </a>
      </div>

      <p class="footer__text">
        Или напишите свой вопрос нам в WhatsApp
      </p>

      <div class="footer__box">
        <img loading="lazy" src="/img/footer/phone-icon.svg" class="image" width="19" height="19" alt="Mail icon">

        <a href="" class="footer__text">
          stmcare@gmail.com
        </a>
      </div>
    </div>
  </div>
</footer>
