<section class="price offsets">

  <div class="container-big">
    <div class="price__inner">
      <div class="section-titles">
        <h4 class="section-name" id="price">
          Цены
        </h4>

        <h5 class="section-title">
          Стоимость обучения
        </h5>
      </div>
      <p class="price__old">
        150 000 ₸
      </p>

      <p class="price__text">
        в честь запуска курса:
      </p>

      <p class="price__cost">
        100 000 ₸
      </p>

      <div class="price__present-block">
        <p class="price__present-text">
          + Бонус: Шпаргалка для контент-плана
        </p>

        <img loading="lazy" src="img/price/surpeise.svg" class="image price__icon" width="56" height="56" alt="Present">
      </div>

      <a target="_blank" class="linkWhatsApp">
        <button class="price__button btn-reset">
          Записаться в WA
        </button>
      </a>

      <p class="price__subtext">
        Начни свой путь в SMM уже сегодня!
      </p>
    </div>
  </div>
</section>