// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --second-family: "Alegreya", sans-serif;
  --third-family: "KENAO", sans-serif;
  --content-width: 1130px;
  --content-big-width: 1250px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-big-width: calc(var(--content-big-width) + (var(--container-offset) * 2));

  // colors
  --color-light-1: #fff;
  --color-light-2: #fcfaf6;
  --color-light-3: #faf3e7;
  --color-light-4: #FBFAF6;
  // --color-main-1: #f4bc87;
  --color-main-1: #987abf;
  // --color-main-2: #ffc49f;
  --color-main-2: #987abf;
  // --color-main-3: #fc9773;
  --color-main-3: #987abf;
  // --color-main-4: #EFAA86;
  --color-main-4: #987abf;
  --color-main-5: #fdc7a6;;
	--color-main-6: #ddae82;
	--color-main-7: #987abf;
	--color-pink: #efcee9;
	--color-geen: #95ed89;
	--color-bg-1: #faf4e9;
	--color-bg-2: #8b77a6;
	--color-light-violet: #d4c5e8;
  --color-gray-1: #515151; 
  --color-gray-2: #b9b3a5; 
  --color-dark: #1d1e1e; 
}
